// Descriptive color variables
// defining variables for sass

// one line comment

/*this is a multi line 
comment*/

/*VARIABLES*/

// $primary-color:#DECBB7;
$font-size1: 3.125em;
$font-size2: 2.125em;
$text-color1:#FF2E24; 
$achor-color:#5bba94;



